<!--Intro Header-->
<div class="intro-header">
	<h3 class="head-title">Startup Weekend Team Tracker</h3>
	<hr>
	<div class="row">
		<div class="col s6">
			<a class="waves-effect waves-light btn" href="/teams/new">Create a New Team</a>
		</div>
		<div class="col s6">
			<a class="waves-effect waves-light btn" href="/teams">View Teams</a>
		</div>
	</div>
</div>