<!DOCTYPE html>
<html>
  <head>
    <title>Startup Weekend Team Tracker</title>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="views/styles.css"> -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Font Awesome-->
    <script src="https://use.fontawesome.com/16181c0ef9.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta  name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-top: 7px;font-family: 'Raleway', sans-serif;padding: 0 20px"><i class="fa fa-cubes" aria-hidden="true">SWTT</i></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/teams">Join Teams arount the Globe!</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/teams">Sass</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>