<div class="teams">
  <a class="waves-effect waves-light btn" href="/teams/new">Add New Team</a>
  <h2>Available Teams</h2>
  <% if @teams.any?() %>
  <ul>
    <% @teams.each() do |team| %>
    <li style="font-size: 20px;"><a href="/teams/<%= team.id()%>"><%= team.team_name() %></a> </li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no teams yet!</p>
  <% end %>
</div>