<div class="myteamform">
	<h3>Add New Team</h3>
	<form action="/teams" method="post">
		<div class="form-group">
			<div class="input-field">
				<i class="material-icons prefix">account_circle</i>
				<input name="team_name" id="icon_prefix team_name" type="text" class="validate form-control">
				<label for="icon_prefix">Team Name</label>
				<button type="submit" class="btn btn-primary">Add Team</button>
			</div>
		</div>
	</form>
</div>