<h1>Your Current Teams</h1>

  <% if @teams.any?() %>
    <h3>Here are your teams:</h3>

    <ul>
      <% @teams.each() do |team| %>
        <li><a href="/teams/<%= team.id()%>"><%= team.team_name() %></a> </li>
      <% end %>
    </ul>

  <% else %>

      <p>There are no teams yet!</p>

  <% end %>

  <div class="container">
    <a href="/">Home</a>
  </div>