<div class="myteamform">
	<h3>Add New Team</h3>
	<form action="/teams" method="post">
		<div class="form-group">
			<label class="form-label" for='team_name'>Assign a Team Name:</label>
			<input class="form-control" id="team_name" name="team_name" type="text" placeholder="List Team name" autofocus>
			<button type="submit" class="btn btn-primary">Add Team</button>
		</div>
	</form>
</div>