@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(/images/team.jpg);
}

.head-title {
    font-size: 45px;
    color: black;
}

.intro-header {
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    background-image: url(../public/images/team.jpg); no-repeat center ;
}

.myteamform{
	padding: 15px 50px;
	background-color: rgba(255, 255, 255, 0.9);
}

.myteamform label{
	font-size: 20px;
	color: black;
}

.teams{
	padding: 30px 20px;
	background-color: rgba(255, 255, 255, 0.9);
}